<% title "About" %>

<h1>About</h1>

<p>Sad to say, this is not a real shop (really, 99p for a Worldspine Wurm, who would charge that much?), this is merely a piece of coursework for my Web Based Enterprises module which is part of the final year for my BSc in Computer Science at Kingston University.</p>

<p>I implore you not to be upset by my random pricing and complete inability to actually purchase things.</p>

<p>Any feedback beyond the scope of this module is appreciated, so feel free to tell me (in person, I don't talk to strangers).</p>

<p>Ta,<br>
	Gareth</p>